<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Win32.TaskScheduler" publicKeyToken="e25603a88b3aa7da" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.10.1.0" newVersion="2.10.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="Database" value="MariaDB" />
	</appSettings>
	<connectionStrings>
		<add name="MariaDB" connectionString="UZJ3eLKg6vJWuYuzQkNSPVtdSO99rtVg9VgLMLhHFLoEDrQUAJUyIEYl+uTMkBZVOjX2dZ+cMwiLI0KJdzDNiwZUYPXDE7Xq/J3VpinHfkWFvGdF837KP2NEkGTO/VeMaQZFPxO6H5zq7i3krL2nXZsCOz2PWDxXHY6NtyA5dfMefklvf5JJFIyGHO0vCCEC619wllaitVnR0B+1gvlZ4B013tLyLChWDe40zL+ni5/a7CWlEQOkSik9KGsfzET3eJ0ERzaoVYuAdXuVKSbdT3tU2ZFtutOHiMHYQN4OQyMSz2UU1We5XYyYQ9O7MCoW48QiZTzzcDFY6uPbV4fGzA==" />
	</connectionStrings>
</configuration>